@keyframes backgroundAnimation {
  0% {
    background-color: #ffebd8; /* Tonos pasteles de naranja */
  }
  50% {
    background-color: #ffffff; /* Blanco */
  }
  100% {
    background-color: #ffebd8; /* Tonos pasteles de naranja */
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  color: #1e1e1f;
  font-family: 'Poppins', sans-serif;
  animation: backgroundAnimation 10s ease-in-out infinite;
}

#root {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px;
}
